@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg"); }
.PomodoroClock .lengthControls, .PomodoroClock .lengthControls .controlBlock .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center; }

body, #root, .PomodoroClock, .PomodoroClock .lengthControls .controlBlock, .PomodoroClock .session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1E555C;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: 'Righteous', cursive; }

#root {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50vw;
  height: 40vw; }

.PomodoroClock {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
  min-width: 500px;
  min-height: 450px;
  height: 40vw;
  color: white;
  padding: 20px;
  border: 3px solid white;
  border-radius: 15%; }
  .PomodoroClock .lengthControls {
    font-size: 2vw;
    width: 100%; }
    .PomodoroClock .lengthControls .controlBlock {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
  .PomodoroClock .invis {
    visibility: hidden;
    color: transparent;
    width: 0px;
    height: 0px;
    margin: 0;
    padding: 0; }
  .PomodoroClock .session {
    border: 3px solid white;
    width: 40%;
    padding: 30px;
    font-size: 60px;
    border-radius: 50%; }
    .PomodoroClock .session .timer {
      font-family: Digital;
      font-size: 50px; }
  .PomodoroClock .button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 2rem; }
  .PomodoroClock .arrow {
    font-size: 1.2rem; }

@media (max-width: 1000px) {
  .PomodoroClock {
    font-size: 30px; }
    .PomodoroClock .lengthControls {
      font-size: 20px; } }

/*# sourceMappingURL=index.css.map */